.idea
Thumbs.db
.DS_Store
._.DS_Store
*.log
*.xml
*.tar
*.tar.gz
*.ctrl
*.pdf
*.eps
*.exe
*.rar
*.xlsx
*.mp4
*.csv
/*.txt
/*.html
/*.sql
/.htaccess
bitrix
bitrix/*
upload
upload/*
/test
/cgi-bin
/web.config
test.php
awstats
awstats/*
tmp
tmp/*
bxr_tmp
bxr_tmp/*
new
new/*
