.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

a:focus, a:active, a:visited, a:link {
	text-decoration:none;
}

@media (min-width: 500px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 700px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 900px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

@media (max-width: 700px) {
.text-xs-right .bxr-sortbutton {
	margin: 5px 0 5px 10px !important;
}
}

.bxr-sort-panel{
    margin-bottom: 20px;
}


.bxr-sortbutton::first-letter {
    text-transform:  capitalize;
}

.bxr-color-flat .bxr-sortbutton
,.bxr-color-flat .bxr-view-mode{
    color: #FFF;
    text-decoration: none;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid rgba(255,255,255, 0);
}

.bxr-border-color .bxr-sortbutton
,.bxr-border-color .bxr-view-mode{
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid rgba(255,255,255, 0);
    font-size: 13px;
}

.bxr-sortbutton i{
    margin-left: 10px;
}


.bxr-sortbutton i{
    margin: 0 0 0 10px;
}

.bxr-view-mode {
    margin-left: 3px;
    margin-right: 0;
    min-width: 36px;
    text-align: center;
}

.bxr-view-mode i{
    font-size: 16px;
    padding: 0;
}

.bxr-sortbutton.active
,.bxr-sortbutton:hover
,.bxr-view-mode.active
,.bxr-view-mode:hover{
    text-decoration: none;
}

.bxr-color-flat .bxr-sortbutton.active
,.bxr-color-flat .bxr-sortbutton:hover
,.bxr-color-flat .bxr-view-mode.active
,.bxr-color-flat .bxr-view-mode:hover{
    border: rgba(255,255,255, 0.5) 1px solid;
    color:  #FFF;
}
.section-tags {
    position: relative;
}
.current-choice {
    display: block;
    position: relative;
    margin: 10px 10px 10px 0;
    padding: 7px 20px 7px 8px;
    width: 100%;
    border: 1px solid #03a9f4;
    border-radius: 0;
    color: #03a9f4;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    z-index: 101;
    text-align: left;
}
.current-choice .current-choice-arrow{
    border-color: #03a9f4 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 7px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.current-choice .current-choice-arrow.up {
    border-color: transparent transparent #03a9f4 transparent;
    border-width: 0 4px 5px 4px;
}
.all-choices {
    position: absolute;
    right: 0;
    top: 10px;
    left: 0;
    display: none;
    z-index: 103;
    margin-left: 10px;
    margin-right: 10px;
}
.all-choices ul {
    list-style: none;
    padding-left: 0;
}
.all-choices ul li {
    display: block;
    border: 1px solid #03a9f4;
    border-top: none;
    color: #03a9f4;
    width: inherit;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    line-height: 15px;
    padding: 9px 20px 9px 8px;
    cursor: pointer;
    background-color: #fff;
}
.all-choices ul li:hover {
    background-color: #03a9f4;
    color: #fff;
}
.all-choices ul li.active {
    background-color: #03a9f4;
    color: #fff;
}
.all-choices ul li.first-item {
    color: transparent;
    background: transparent;
}
.show {
    display: block;
}