.modal_content {
    top: 50px;
    position: relative;
}
.modal_content .close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal_content .modal_body {
    background: #fff;
}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
.modal_content {}
