.slider {
  aspect-ratio: 55 / 41;
}
.slider .container {
    padding: 0;
}
.slider__item {
    position: relative;
    max-width: calc(100vw - 30px);
}
.slider__title {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10vw 50% 15px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #03a9f4;
}

.slider-carousel.owl-carousel.owl-loaded {
    max-width: 100%;
}
.slider-carousel.owl-carousel .slider__item picture {
  aspect-ratio: 55 / 41;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider-carousel.owl-carousel .slider__item picture img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@media all and (min-width:400px) {
  .slider {
    aspect-ratio: 180 / 133;
  }
  .slider-carousel.owl-carousel .slider__item picture {
    aspect-ratio: 180 / 133;
  }
}
@media all and (min-width:768px) {
    .slider .container {
        padding: 15px 15px 0;
    }
}
@media all and (min-width:992px) {
  .slider {
    aspect-ratio: unset;
    height: 388px;
  }
    .slider .container {
        padding-top: 0;
    }
    .slider__title {
        padding: 100px 50% 0 50px;
        font-size: 30px;
    }
    .slider_block {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider-carousel.owl-carousel .slider__item picture {
      aspect-ratio: unset;
      height: 388px;
    }
}
@media all and (min-width:1200px) {
  .slider {
    height: 470px;
  }
    .slider-carousel.owl-carousel .slider__item picture {
      height: 470px;
    }
}
